<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %> |
  <% end %>
</p>
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url %>
  <% end %>
</p>
<p><%= @article.body %></p>
<p>
  <%= link_to "edit", edit_article_path(@article) %>&nbsp;
  <%= link_to "delete", article_path(@article), method: :delete, data: {confirm: 'Really want to delete this article?'} %></p>
<%= render partial: 'comments/form' %>
<%= link_to "<<Back to Articles list", articles_path %>
<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'comment', collection: @article.comments %>